# out folder
.idea/
auxil/
out/
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdf
!Srinivas-Rao-Tammireddy-resume.pdf
!Srinivas-Rao-T-resume.pdf
!Srinivas_Rao_Tammireddy_Resume.pdf
Srinivas_Rao_Tammireddy_Resume.tex
*.bbl
*.out