# out folder
.idea/
auxil/
out/
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdf
!Srinivas-Rao-Tammireddy-resume.pdf
!Srinivas-Rao-T-Intern-resume.pdf
Srinivas-Rao-T-cisco_resume.tex
*.bbl
*.out
!Srinu-Resume-Template.pdf
!Srinu-Resume-Template-Photo.pdf
!Srinu-Resume-Tammireddy-Photo.pdf
!Srinivas-Rao-Tammireddy-Photo-resume.pdf
Srinivas-Rao-Tammireddy-Photo-resume.tex
!Srinivas-Rao-Tammireddy-Infosys-resume.pdf
Srinivas-Rao-Tammireddy-Infosys-resume.tex