# out folder
.idea/
auxil/
out/
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdf
!Srinivas-Rao-Tammireddy-resume.pdf
!Srinivas-Rao-T-Intern-resume.pdf
Srinivas-Rao-T-cisco_resume.tex
*.bbl
*.out

Srinivas-Rao-Tammireddy-cognizant.tex

!Resume-Template.pdf
!Resume-Template-Photo.pdf
!Srinu-Resume-Tammireddy-Photo.pdf
!Srinivas-Rao-Tammireddy-Photo-resume.pdf
!Srinivas-Rao-Tammireddy-google-resume.pdf